<h2>詳細</h2>

<div class="con">
  <%= render @sakusya %>
</div>

<div>
  <%= link_to "この作者名を編集する", edit_sakusya_path(@sakusya) %> |
  <%= link_to "作者リストに戻る", sakusyas_path %>

  <%= button_to "この作者名を削除", @sakusya, method: :delete %>
</div>
