<div>
    <div id="top">
        <h1>I have a Comic!!</h1>
    </div>
    <p>
        今どのマンガを持っていたっけ？何巻まで買ったんだっけ？<br>
        そんなお悩みも、リストを作っておけばもう安心！<br>
        タイトル・作者・出版社などを入力するだけで簡単に登録できます！
    </p>
</div>


