<div>
    <div id="top">
        <h1>I have a Comic!!</h1>
    </div>
    <p id="top_p">
        今どのマンガを持っていたっけ？何巻まで買ったんだっけ？<br>
        そんなお悩みも、リストを作っておけばもう安心！<br>
        タイトル・作者・出版社などを入力するだけで簡単に登録できます！
    </p>
</div>

<article>
    <h2>How to make Lists!!</h2>
    <ul id="top_ul">
        <li>1.<strong>アカウントを作る</strong></li>
        <p>上の「アカウント登録」から、メールアドレスとパスワードを登録してください</p>
        <li>2.<strong>タイトルを登録する</strong></li>
        <p>アカウント登録が終わったら、<br>登録したいマンガのタイトルを「タイトルリスト」から登録しましょう</p>
        <li>3.<strong>作者名・出版社名を登録する</strong></li>
        <p>タイトルと同様に、<br>作者名と出版社名も「作者リスト」「出版社リスト」から登録します</p>
        <li>4.<strong>マンガ登録をする!!</strong></li>
        <p>すべての登録が完了したら、<br>あとは「マンガリスト」からタイトルや巻数、作者名などを登録するだけ！</p>
    </ul>
</article>


