<h2>詳細</h2>

<div class="con">
  <%= render @publisher %>
</div>

<div>
  <%= link_to "この出版社名を編集する", edit_publisher_path(@publisher) %> |
  <%= link_to "出版社リストに戻る", publishers_path %>

  <%= button_to "この出版社名を削除", @publisher, method: :delete %>
</div>
