<h2>詳細</h2>

<div class="con">
  <%= render @title %>
</div>

<div>
  <%= link_to "このタイトルを編集する", edit_title_path(@title) %> |
  <%= link_to "タイトルリストに戻る", titles_path %>

  <%= button_to "このタイトルを削除", @title, method: :delete %>
</div>
