<h2>詳細</h2>

<div class="con">
<%= render @main %>
</div>

<div>
  <%= link_to "このマンガを編集", edit_main_path(@main) %> |
  <%= link_to "マンガリストに戻る", mains_path %>

  <%= button_to "この情報を削除", @main, method: :delete %>
</div>
