@charset "utf-8";

body {
    background-color: moccasin;
    text-align: center;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

header {
    padding: 1rem;
    text-align: right;
    margin: 0;
    background-color: ivory;
}

a {
    text-decoration: none;
}

header span {
    text-decoration: none;
    width: 3rem;
    margin: auto;
}

#top {
    padding: 10rem;
    background-image: url('topback.png');
}

#top_ul li {
    list-style-type: none;
}

#top_ul p {
    margin-bottom: 3rem;
}

#top_p {
    background-color: white;
    padding: 2rem;
    margin-top: 0;
    line-height: 2;
}

article {
    background-color: ivory;
    border: 5px dotted orange;
    width: 50%;
    margin:auto;
    margin-bottom: 5rem;
    padding: 2rem 1rem 3rem 1rem;
}

#mains {
    background-color: white;
    border: solid 1px black;
    padding: 1rem;
    width: 60%;
    margin: auto;
}

.newlink {
    margin-top: 2rem;
}

.con {
    background-color: white;
    width: 50%;
    border: 1px solid black;
    padding: 1rem;
    margin: auto;
    margin-top: 1.5rem;
}

#num input[type=number]{
    width: 5rem;
}